div {
  &.feed-list-wrapper {
    @include attus-layout-header-gutter(16) {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }
    @include attus-layout-header-gutter(24) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-bottom: 1.5rem;
    }
    div {
      &.feed-item {
        @include attus-layout-header-gutter(16) {
          margin-top: 1rem;
        }
        @include attus-layout-header-gutter(24) {
          margin-top: 1.5rem;
        }
        @include attus-layout-wide {
          width: 1360px;
          margin-left: auto;
          margin-right: auto;
        }
        &.feed-is-marking {
          background-color: #a7ffeb;
        }
        div {
          &.feed-item-header {
            padding: 0.5rem 1rem;
            display: flex;
            p {
              &.feed-item-avatar {
                margin-top: 0;
                margin-bottom: 0;
                flex: 1 1;
                min-width: 56px;
                max-width: 56px;
                margin-right: 16px;
                img {
                  width: 56px;
                  height: 56px;
                  border-radius: 28px;
                }
                @include attus-layout-mobile {
                  min-width: 40px;
                  max-width: 40px;
                  margin-right: 8px;
                  img {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                  }
                }
              }
              &.feed-item-title {
                margin: 0;
                padding: 0;
              }
              &.feed-item-feed {
                margin: 0;
                padding: 0;
                opacity: 0.72;
              }
              &.feed-item-favorite {
                cursor: pointer;
                flex: 1 1;
                min-width: 48px;
                max-width: 48px;
                margin: 12px 0;
                @include attus-layout-mobile {
                  margin-top: 8px;
                  margin-bottom: 8px;
                }
              }
            }
            div {
              &.feed-item-label {
                flex: 2 2;
              }
            }
          }
          &.feed-item-media {
            img {
              width: 100%;
              height: auto;
            }
          }
          &.feed-item-content {
            padding: 1rem;
            p {
              line-height: 1.25rem;
              margin: 0.25rem;
              padding: 0;
              &.feed-item-metadata {
                font-weight: bold;
                display: flex;
                margin: 0 0 1rem 0;
                span {
                  flex: 1 1;
                  &.feed-item-author {
                    text-align: left;
                  }
                  &.feed-item-date {
                    text-align: right;
                    font-style: italic;
                  }
                }
              }
            }
            div {
              &.feed-item-body {
                overflow: hidden;
                img {
                  max-width: 80%;
                  height: auto;
                }
                div {
                  &.quote {
                    padding: 8px;
                    margin: 8px 0 8px 16px;
                    border-left: 1px solid #a1887f;
                    background-color: #efebe9;
                    font-style: italic;
                  }
                }
              }
            }
          }
          &.feed-item-actions {
            padding: 0.5rem 1rem;
            text-align: right;
          }
        }
        @include attus-layout-wide {
          div {
            &.feed-item-media {
              float: left;
              width: 560px;
            }
            &.feed-item-header, &.feed-item-content {
              float: right;
              width: 752px;
            }
            &.feed-item-actions {
              clear: both;
            }
          }
        }
      }
    }
  }
}