div {
  &.handball-day-wrapper {
    @include attus-layout-header-gutter(16) {
      margin: 1rem 1rem 1rem;
      &:last-child {
        margin-bottom: 1rem;
      }
    }
    @include attus-layout-header-gutter(24) {
      margin: 1.5rem 1.5rem 0 1.5rem;
      &:last-child {
        margin-bottom: 1.5rem;
      }
    }
    h2 {
      &.handball-day-date {
        margin: 0 0 0.5rem 0;
        padding: 0;
      }
    }
    h4 {
      &.location-name {
        font-size: 16px;
        line-height: 24px;
        height: 24px;
        display: flex;
        margin: 0;
        padding: 8px;
        overflow: hidden;
        span {
          display: block;
          &.name {
            flex: 3 3;
          }
          &.buttons {
            flex: 1 1;
            text-align: right;
            max-width: 48px;
            min-width: 48px;
          }
        }
      }
    }
    div {
      &.handball-mobile-game-wrapper {
        padding: 8px;
        display: flex;
        div {
          &.hour {
            flex: 1 1;
            max-width: 48px;
            min-width: 48px;
            font-weight: bold;
          }
          &.handball-game {
            flex: 2 2;
          }
        }
      }
      &.handball-desktop-wrapper {
        div {
          &.handball-day-locations {
            padding: 8px;
            display: flex;
            div {
              &.hour {
                flex: 1 1;
                max-width: 56px;
                min-width: 56px;
                font-weight: bold;
              }
            }
            h4 {
              &.location-name {
                flex: 3 3;
                font-size: 16px;
                line-height: 24px;
                height: 24px;
                display: flex;
                margin: 0;
                padding: 8px;
                span {
                  display: block;
                  &.name {
                    flex: 3 3;
                  }
                  &.buttons {
                    flex: 1 1;
                    text-align: right;
                    max-width: 48px;
                    min-width: 48px;
                  }
                }
              }
            }
          }
          &.handball-day-games {
            padding: 8px;
            div {
              &.day-hour-wrapper {
                display: flex;
                div {
                  &.hour {
                    flex: 1 1;
                    padding-top: 8px;
                    max-width: 56px;
                    min-width: 56px;
                    font-weight: bold;
                  }
                  &.handball-game {
                    flex: 2 2;
                    padding: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

div {
  &.handball-game {
    h5 {
      &.game-teams {
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
        padding: 0;
        span {
          &.league-name {
            font-size: 0.7rem;
            opacity: 0.82;
            font-style: italic;
            padding-left: 0.5rem;
          }
        }
      }
    }
    p {
      &.referees {
        font-size: 85%;
        margin: 0;
        padding: 0.5rem 0; 
      }
    }
    div {
      &.handball-game-actions {
        padding: 8px 0;
        display: flex;
        div {
          &.handball-game-status {
            flex: 1 1;
            span {
              &.handball-icon-warning {
                color: #ffd600;
              }
              &.handball-icon-ok {
                color: #00c853;
              }
            }
          }
          &.handball-game-buttons {
            flex: 1 1;
            text-align: right;
            a {
              padding-left: 24px;
            }
          }
        }
      }
      &.handball-game-warnings {
        color: #d50000;
        p {
          margin: 0;
          padding: 0.5rem 0 0 0;
        }
      }
    }
    &.game-inactive {
      background-color: #ffd600;
    }
  }
}

div {
  &.handball-tv-day {
    div {
      &.handball-game-wrapper {
        padding: 0 8px;
        display: flex;
        div {
          &.hour {
            flex: 1 1;
            padding-top: 8px;
            @include attus-layout-header-gutter(16) {
              max-width: 48px;
              min-width: 48px;
            }
            @include attus-layout-header-gutter(24) {
              max-width: 56px;
              min-width: 56px;
            }
            font-weight: bold;
          }
          &.handball-game {
            flex: 2 2;
            padding: 8px;
            div {
              &.handball-game-status {
                span {
                  &.tv-icon {
                    display: flex;
                    .material-icons {
                      flex: 1 1;
                      min-width: 36px;
                      max-width: 36px;
                    }
                    .label {
                      flex: 2 2;
                      padding: 4px 0 0 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}